In [5]:
import sqlite3
import os
import pandas as pd

# Specify the folder containing the CSV files
folder_path = '/Users/vedantwalia/Desktop/Projects sandbox/archive'

# Initialize SQLite connection
conn = sqlite3.connect('database.db')
cursor = conn.cursor()

# Process each CSV file in the folder
for file_name in os.listdir(folder_path):
    if file_name.endswith('.csv'):
        # Construct the full file path
        file_path = os.path.join(folder_path, file_name)
        
        # Derive the table name from the file name (excluding the .csv extension)
        table_name = os.path.splitext(file_name)[0]
        
        try:
            # Read the CSV file into a Pandas DataFrame
            df = pd.read_csv(file_path, on_bad_lines='skip', engine='python')
            
            # Load the DataFrame into the SQLite database
            df.to_sql(table_name, conn, if_exists='replace', index=False)
            print(f"Loaded {file_name} into table {table_name}")
        
        except pd.errors.ParserError as e:
            print(f"Error parsing {file_name}: {e}")
        except Exception as e:
            print(f"An error occurred with {file_name}: {e}")

# Close the SQLite connection
conn.close()

Loaded Salesperson.csv into table Salesperson
Loaded SalespersonRegion.csv into table SalespersonRegion
Loaded Region.csv into table Region
Loaded Reseller.csv into table Reseller
Loaded Targets.csv into table Targets
Loaded Product.csv into table Product
Loaded Sales.csv into table Sales

In [6]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('database.db')
cursor = conn.cursor()
# List all tables
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()
print("Tables in the database:", tables)

Tables in the database: [('Salesperson',), ('SalespersonRegion',), ('Region',), ('Reseller',), ('Targets',), ('Product',), ('Sales',)]

In [9]:

cursor.execute("SELECT * FROM employee;")
rows = cursor.fetchall()  # Fetch all rows
for row in rows:
    print(row)

OperationalError: no such table: employee

In [5]:
/*
 From the following table write a query in SQL to retrieve the total sales for each year. Filter the result set for those orders where order year is on or before 2016. Return the year part of orderdate and total due amount. Sort the result in ascending order on year part of order date.

salesorderid|revisionnumber|orderdate              |duedate                |shipdate               |status|onlineorderflag|purchaseordernumber|accountnumber |customerid|salespersonid|territoryid|billtoaddressid|shiptoaddressid|shipmethodid|creditcardid|creditcardapprovalcode|currencyrateid|subtotal   |taxamt    |freight  |totaldue   |comment|rowguid                             |modifieddate           |
------------+--------------+-----------------------+-----------------------+-----------------------+------+---------------+-------------------+--------------+----------+-------------+-----------+---------------+---------------+------------+------------+----------------------+--------------+-----------+----------+---------+-----------+-------+------------------------------------+-----------------------+
       43659|             8|2011-05-31 00:00:00.000|2011-06-12 00:00:00.000|2011-06-07 00:00:00.000|     5|false          |PO522145787        |10-4020-000676|     29825|          279|          5|            985|            985|           5|       16281|105041Vi84182         |              | 20565.6206| 1971.5149| 616.0984| 23153.2339|       |79b65321-39ca-4115-9cba-8fe0903e12e6|2011-06-07 00:00:00.000|
       43660|             8|2011-05-31 00:00:00.000|2011-06-12 00:00:00.000|2011-06-07 00:00:00.000|     5|false          |PO18850127500      |10-4020-000117|     29672|          279|          5|            921|            921|           5|        5618|115213Vi29411         |              |  1294.2529|  124.2483|  38.8276|  1457.3288|       |738dc42d-d03b-48a1-9822-f95a67ea7389|2011-06-07 00:00:00.000|
       43661|             8|2011-05-31 00:00 
*/

SELECT DATE_PART("Year", orderdate), sum(totaldue)
FROM Sales.SalesOrderHeader
--WHERE DATE_PART('Year', orderdate) <= 2016 both are correct
GROUP BY DATE_PART('Year', orderdate)
HAVING DATE_PART('Year', orderdate) <= 2016
ORDER BY DATE_PART('Year', orderdate) asc;

SyntaxError: invalid syntax (2317058864.py, line 1)

In [ ]:
/* From the following tables write a query in SQL to make a list of contacts who are designated as 'Purchasing Manager'. Return BusinessEntityID, LastName, and FirstName columns. Sort the result set in ascending order of LastName, and FirstName.

Person.BusinessEntityContact
businessentityid|personid|contacttypeid|rowguid                             |modifieddate           |
----------------+--------+-------------+------------------------------------+-----------------------+
             292|     291|           11|7d4d2dbc-4a44-48f5-911d-a63abafd5120|2017-12-13 13:21:02.243|
             294|     293|           11|3ea25b65-9579-4260-977d-d6f00d7d20ee|2017-12-13 13:21:02.320

             Sample table: Person.ContactType
contacttypeid|name                           |modifieddate           |
-------------+-------------------------------+-----------------------+
            1|Accounting Manager             |2008-04-30 00:00:00.000|
            2|Assistant Sales Agent          |2008-04-30 00:00:00.000|

Sample table: Person.Person
businessentityid|persontype|namestyle|title|firstname               |middlename      |lastname              |suffix|emailpromotion|additionalcontactinfo|demographics|rowguid                             |modifieddate           |
----------------+----------+---------+-----+------------------------+----------------+----------------------+------+--------------+---------------------+------------+------------------------------------+-----------------------+
               1|EM        |false    |     |Ken                     |J               |SÃ¡nchez               |      |             0|                     |[XML]       |92c4279f-1207-48a3-8448-4636514eb7e2|2009-01-07 00:00:00.000|


*/

SELECT businessentityid, lastname, firstname
FROM Person.BusinessEntityContact as pb
JOIN Person.ContactType as pc
ON pb.businessentityid = pc.businessentityid
JOIN Person.Person as pp
ON pp.businessentityid = pb.businessentityid
WHERE pc.name = "Purchasing Manager"
ORDER By lastname, firstname ASC